body{
  background-color: #E27d60;
}

.app{
  margin-right:50px;
  width: 40%;
  float: right;
  border: 3px solid green;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;

 
}

.compb{
  height: 500px;
  background-color: #2b6777;

 
 
 
}
.jumbotron{
  background-image: url("https://images.unsplash.com/photo-1609372697655-65d874e3fe60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
  
  height: 450px;
  
  background-position: center center;
  background-size: cover;
  color: white;

}

#CardGroup{
  background-color:#E27D60 ;
}

.design{
 background-color:white;
}

input[type=text]{
  margin-top: 50px;
  margin-left: 20px;
  border-style: hidden;
}

input[type=date]{
  margin-top: 30px;
  margin-left: 20px;
  border:none;
  
 
}
.mainbox{
  margin-top: 30px;
  padding: 1%;
  backdrop-filter: blur(0px) saturate(178%);
  -webkit-backdrop-filter: blur(0px) saturate(178%);
  background-color: rgba(255, 255, 255, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
 
}
.all{
  margin: auto;
  width: 50%;
  
}

